<% title "Index", true, true %>

<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <button class="btn btn-default">Default</button>
            <button class="btn btn-info">Info</button>
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-success">Success</button>
            <button class="btn btn-warning">Warning</button>
            <button class="btn btn-danger">Danger</button>
            <button class="btn btn--light">MAE Style</button>
            <button class="btn btn-link">Link</button>
          </div>
          <div class="row">
            <button class="btn btn-raised btn-default">Default</button>
            <button class="btn btn-raised btn-info">Info</button>
            <button class="btn btn-raised btn-primary">Primary</button>
            <button class="btn btn-raised btn-success">Success</button>
            <button class="btn btn-raised btn-warning">Warning</button>
            <button class="btn btn-raised btn-danger">Danger</button>
            <button class="btn btn-raised btn--light">MAE Style</button>
            <button class="btn btn-raised btn-link">Link</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card__content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, odio.
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <div class="card__header--text">
            <h4>Lorem, ipsum dolor.</h4>
          </div>
        </div>
        <div class="card__content">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, rem blanditiis quod maiores, unde deserunt reiciendis possimus dolores modi commodi voluptatibus dolorum? Consequuntur, commodi! Quaerat cum voluptatum autem necessitatibus odit?</p>
        </div>
      </div>
    </div>
  </div>
</div>