.rykn0wxx {
  .mudhead {
    .btn {
      display: inline-block;
      position: relative;
      cursor: pointer;
      min-height: 36px;
      min-width: 88px;
      line-height: 36px;
      vertical-align: middle;
      align-items: center;
      text-align: center;
      border-radius: 2px;
      box-sizing: border-box;
      user-select: none;
      outline: none;
      border: 0;
      padding: 0 6px;
      margin: 6px 8px;
      background: transparent;
      color: $btn-base-color;
      white-space: nowrap;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      font-style: inherit;
      font-variant: inherit;
      font-family: inherit;
      text-decoration: none;
      overflow: hidden;
      transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
      box-shadow: none;
      letter-spacing: .01em;
      &:focus, &:hover {
        text-decoration: none;
        outline: none;
      }
      &:active {
        box-shadow: none;
      }
      &:hover {
        background-color: rgba(158, 158, 158, 0.2);
      }
      &.btn-raised {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        &:active {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
        }
        @each $color, $value in $theme-colors {
          &.btn-#{$color} {
            color: color-yiq($value);
            background-color: $value;
            &:hover {
              background-color: darken($value, 3%);
              color: #fff;
            }
          }
        }
        &.btn--light {
          background-color: $light;
          color: #b4bfc3;
          &:hover {
            background-color: darken($light, 3.5%);
            color: lighten(#b4bfc3, 3.5%);
          }
        }
      }
      @each $color, $value in $theme-colors {
        &.btn-#{$color} {
          color: $value;
        }
      }
    }
  }
}