.rykn0wxx {
  .mudhead {
    .content {
      display: block;
      position: relative;
      &--scroll-y {
        overflow-y: auto;
        overflow-x: hidden;
      }
      &--scroll-x {
        overflow-x: auto;
        overflow-y: hidden;
      }
    }
    .layout {
      display: flex;
      box-sizing: border-box;
      &--row {
        flex-direction: row;
      }
      &--column {
        flex-direction: column;
      }
    }
  }
}