.rykn0wxx {
  .mudhead {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .subhead {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: .01em;
    }
    .headline {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
    }
    .title {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: .005em;
    }
    .body-1 {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      letter-spacing: .01em;
    }
    .body-2 {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .01em;
      line-height: 24px;
    }
    .caption {
      font-size: 12px;
      letter-spacing: .02em;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    p {
      font-weight: 400;
      letter-spacing: 0.010em;
      font-size: 1rem;
      line-height: 1rem;
      margin: 0.4em 0 1rem;
    }
  }
}